/* COLORS */
/*
FONT SIZES
*/
/*
SIZES
*/
/*
MEDIA SIZES
*/
/*
MIXINS
*/
nav {
  width: 70%;
  display: inline-block !important;
  margin-right: 1rem;
  vertical-align: middle; }

nav ul {
  float: right;
  padding-left: 0; }

nav ul li {
  display: inline-block;
  float: left; }

nav ul li:not(:first-child) {
  margin-left: 25px; }

nav ul li a {
  display: inline-block;
  outline: none;
  color: #B8A77A;
  font-size: 0.9rem;
  text-decoration: none;
  letter-spacing: 1px; }

@media screen and (max-width: 768px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #B8A77A;
    opacity: 0;
    transition: all 0.2s ease; }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s; }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s; }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s; }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s; }
  .nav-container ul li:not(:first-child) {
    margin-left: 0; }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #F0EDF0;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease; }
  .nav-open {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%; }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #B8A77A;
    border-radius: 2px;
    margin-left: 14px; }
  .nav-open i:nth-child(1) {
    margin-top: 16px; }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1; }
  .nav-open i:nth-child(3) {
    margin-top: 4px; } }

#nav:checked + .nav-open {
  transform: rotate(45deg); }

#nav:checked + .nav-open i {
  background: #F0EDF0;
  transition: transform 0.2s ease; }

#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg); }

#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0; }

#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg); }

#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1; }

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0); }

.hidden {
  display: none; }
/89498099657e20181336bb7169bb01b2.otf/1c93a638b28bc696fe31a5e9ca1e18df.otf/bb20bd82505e606d2271e1aa308d62f2.otf/* COLORS */
/*
FONT SIZES
*/
/*
SIZES
*/
/*
MEDIA SIZES
*/
/*
MIXINS
*/
@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 300;
  src: url([object Object]) format("otf"); }

@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 400;
  src: url([object Object]) format("otf"); }

@font-face {
  font-family: 'Butler';
  font-style: normal;
  font-weight: 700;
  src: url([object Object]) format("otf"); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%; }

body {
  color: #6C6A6D;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F1F1; }

a {
  cursor: pointer;
  color: #B8A77A;
  letter-spacing: 1px; }
  a:hover {
    text-decoration: none; }

h1 {
  font-family: 'Butler';
  line-height: 2rem;
  color: #6C6A6D;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Butler';
  font-weight: 400;
  color: #6C6A6D;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

header {
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4A4A4A;
  z-index: 1; }
  header .logo {
    width: 25%;
    vertical-align: middle;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 15px; }

.hero-section .hero-section__center-txt {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.hero-section .hero-section__sub-heading {
  color: #B8A77A;
  font-size: 1.3rem;
  font-weight: 600; }

.hero-section .hero-section__main-heading {
  font-size: 3.5rem;
  line-height: 5rem;
  color: #F0EDF0;
  margin: 0px; }
  @media (min-width: 768px) {
    .hero-section .hero-section__main-heading {
      font-size: 6rem;
      line-height: 7rem; } }
  @media (min-width: 1200px) {
    .hero-section .hero-section__main-heading {
      font-size: 7.5rem;
      line-height: 9rem; } }

.hero-section .hero-section__small-heading {
  font-size: 2.5rem;
  text-align: center;
  color: #4A4A4A;
  line-height: 3rem; }
  @media (min-width: 992px) {
    .hero-section .hero-section__small-heading {
      font-size: 3.5rem;
      line-height: 3.75rem; } }

.align-right {
  text-align: right; }

.center-text {
  text-align: center; }

.gold-line {
  border-bottom: 3px solid #B8A77A;
  width: 3rem;
  margin: auto; }

.section-heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.75rem; }

.about-section {
  margin-top: 1.5rem; }

.arrow-up {
  position: absolute;
  bottom: 0;
  content: "";
  border-bottom: 7rem solid #F2F1F1;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent; }

.arrow-down {
  position: absolute;
  content: "";
  border-top: 7rem solid #ffffff;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  top: 0; }

.meet-team-container {
  margin-top: 3rem; }

.meet-team {
  margin-bottom: 1.5rem; }
  @media (min-width: 768px) {
    .meet-team {
      margin-bottom: 0; } }
  .meet-team .meet-team__text {
    border-top: 5px solid #B8A77A;
    text-align: center;
    background-color: #ffffff;
    padding: 1rem; }
    .meet-team .meet-team__text .meet-team__heading {
      color: #4A4A4A;
      font-size: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 0px; }
    .meet-team .meet-team__text .meet-team__subHeading {
      font-size: 1rem;
      color: #9B9B9B;
      margin-top: 0.5rem;
      margin-bottom: 1rem; }

.locations-container {
  background-color: #ffffff;
  padding-bottom: 4rem; }
  .locations-container .locations-container__heading {
    margin-top: 4rem; }
  .locations-container .locations-container__address {
    border: 4px solid #F2F1F1;
    padding: 1rem 3rem;
    margin-top: 3rem; }
    .locations-container .locations-container__address .locations-container__content {
      width: 100%;
      margin: auto; }
      @media (min-width: 992px) {
        .locations-container .locations-container__address .locations-container__content {
          width: 50%; } }
      .locations-container .locations-container__address .locations-container__content h3 {
        margin-bottom: 1rem; }
    .locations-container .locations-container__address p {
      margin: 0; }
    .locations-container .locations-container__address .locations-container__contact {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .locations-container .locations-container__address:last-child {
        border-left: none; } }

.section-spacing {
  margin-bottom: 6rem; }

footer {
  position: relative; }
  footer .footer-content {
    padding-top: 12rem;
    padding-bottom: 2rem;
    text-align: center; }
    footer .footer-content .logo-footer {
      margin-bottom: 1rem; }
    footer .footer-content .footer-navigation {
      list-style-type: none;
      padding-left: 0;
      margin-top: 2rem; }
      footer .footer-content .footer-navigation li {
        display: inline-block;
        margin: 1rem;
        margin-top: 0; }
        footer .footer-content .footer-navigation li a {
          font-size: 0.9rem;
          text-transform: uppercase;
          font-weight: 600;
          color: #6C6A6D; }
          footer .footer-content .footer-navigation li a:hover {
            color: #B8A77A; }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}